node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*.csv
*.webp
README.MUH.md
README.MUH copy.md
images/*
src/lib/assets/bilder.html
**/test*/*
**/test*.*
*.txt
